## Import Necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn import metrics
from sklearn.metrics import roc_auc_score, confusion_matrix, mean_squared_error

import warnings
warnings.filterwarnings('ignore')

## Reading the File

In [2]:
df=pd.read_csv('glassdoor_jobs.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1000 non-null   object
 1   Salary Estimate    1000 non-null   object
 2   Job Description    1000 non-null   object
 3   Rating             1000 non-null   float64
 4   Company Name       1000 non-null   object
 5   Location           1000 non-null   object
 6   Headquarters       1000 non-null   object
 7   Size               1000 non-null   object
 8   Founded            1000 non-null   int64
 9   Type of ownership  1000 non-null   object
 10  Industry           1000 non-null   object
 11  Sector             1000 non-null   object
 12  Revenue            1000 non-null   object
 13  Competitors        1000 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 109.5+ KB

In [4]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
1,Associate Business Intelligence Data Scientist,$64K-$106K (Glassdoor est.),"Blending customer advisory, customer support, ...",3.2,Carousel Industries\n3.2,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),-1
2,"Scientist, Population Genomics",$64K-$106K (Glassdoor est.),WuXi NextCODE is seeking a motivated Scientist...,2.9,Carousel Industries\n3.2,"Cambridge, MA","Cambridge, MA",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
3,Data Analyst II,$64K-$106K (Glassdoor est.),The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.\n4.2","Plano, TX","Tempe, AZ",5001 to 10000 employees,1988,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 billion (USD),"CDW, PCM, SHI International"
4,Sensory Scientist,$64K-$106K (Glassdoor est.),A leading food production company in St. Louis...,3.8,NIC Infotek\n3.8,"Saint Louis, MO","Tampa, FL",51 to 200 employees,2004,Company - Public,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1

In [5]:
df.shape

(1000, 14)

In [6]:
#checking salary estimate values
df['Salary Estimate'].value_counts()

$96K-$156K (Glassdoor est.)     170
$57K-$98K (Glassdoor est.)       32
$94K-$154K (Glassdoor est.)      32
$74K-$123K (Glassdoor est.)      32
$60K-$101K (Glassdoor est.)      32
$141K-$225K (Glassdoor est.)     32
$97K-$156K (Glassdoor est.)      32
$90K-$115K(Employer est.)        32
$112K-$179K (Glassdoor est.)     32
$97K-$154K (Glassdoor est.)      32
$57K-$97K (Glassdoor est.)       32
$60K-$100K (Glassdoor est.)      32
$72K-$122K (Glassdoor est.)      32
$115K-$140K (Glassdoor est.)     32
$109K-$178K (Glassdoor est.)     32
$105K-$166K (Glassdoor est.)     32
$73K-$125K (Glassdoor est.)      32
$58K-$69K (Glassdoor est.)       32
$56K-$97K (Glassdoor est.)       32
$96K-$101K (Glassdoor est.)      32
$69K-$118K (Glassdoor est.)      32
$111K-$181K (Glassdoor est.)     32
$55K-$91K (Glassdoor est.)       32
$119K-$186K (Glassdoor est.)     32
$99K-$110K (Glassdoor est.)      32
$108K-$171K (Glassdoor est.)     32
$64K-$106K (Glassdoor est.)      30
Name: Salary Estimate, dtype: int64

In [7]:
#checking values for HQ
df['Headquarters'].value_counts()

San Francisco, CA    64
New York, NY         57
Boston, MA           30
Reston, VA           25
-1                   21
                     ..
Alameda, CA           1
Phila, PA             1
Green Bay, WI         1
Aurora, CO            1
Scotts Valley, CA     1
Name: Headquarters, Length: 282, dtype: int64

In [8]:
#job description
df['Job Description'].head()

0    Secure our Nation, Ignite your Future\n\nJoin ...
1    Blending customer advisory, customer support, ...
2    WuXi NextCODE is seeking a motivated Scientist...
3    The Data Analyst II is responsible for data en...
4    A leading food production company in St. Louis...
Name: Job Description, dtype: object

In [9]:
df['Rating'].value_counts()

 3.6    68
 3.8    67
 4.0    65
 3.9    62
 3.5    61
 3.4    55
 5.0    51
 4.1    50
 4.2    48
-1.0    46
 4.5    46
 3.7    46
 4.3    42
 4.6    36
 3.1    32
 3.2    30
 3.3    29
 4.4    27
 4.7    24
 4.9    18
 2.9    18
 4.8    17
 3.0    17
 2.5     9
 2.3     8
 2.2     8
 2.7     7
 2.6     6
 2.8     4
 2.4     1
 1.5     1
 2.0     1
Name: Rating, dtype: int64

Cleaning tasks:

1. Remove "Glassdoor est" and 'K' from Salary
2. Remove -1 values from HQ
3. Convert salary estimate from range to single value [average]
5. Remove -1 from rating
6. Remove Rating from Company Name field
7. Add a State field using location
8. Check if job location and HQ are same
9. Add an Age field for the company [current year - founded]
10. Split job description into various job skills [R, Python, AWS, Docker etc] and job position [data scientist,analyst etc.]
and seniority level
11. Replace number of Competitors by count and remove -1

## Data Cleaning

### Headquarters

In [10]:
#dropping ones with -1 in HQ
df=df[df['Headquarters']!='-1']

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 979 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          979 non-null    object
 1   Salary Estimate    979 non-null    object
 2   Job Description    979 non-null    object
 3   Rating             979 non-null    float64
 4   Company Name       979 non-null    object
 5   Location           979 non-null    object
 6   Headquarters       979 non-null    object
 7   Size               979 non-null    object
 8   Founded            979 non-null    int64
 9   Type of ownership  979 non-null    object
 10  Industry           979 non-null    object
 11  Sector             979 non-null    object
 12  Revenue            979 non-null    object
 13  Competitors        979 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 114.7+ KB

In [12]:
df['Headquarters'].value_counts()

San Francisco, CA    64
New York, NY         57
Boston, MA           30
Reston, VA           25
Cambridge, MA        17
                     ..
Alameda, CA           1
Phila, PA             1
Green Bay, WI         1
Aurora, CO            1
Scotts Valley, CA     1
Name: Headquarters, Length: 281, dtype: int64

### Salary

In [13]:
df['Salary Estimate']

0      $64K-$106K (Glassdoor est.)
1      $64K-$106K (Glassdoor est.)
2      $64K-$106K (Glassdoor est.)
3      $64K-$106K (Glassdoor est.)
4      $64K-$106K (Glassdoor est.)
                  ...
995    $96K-$156K (Glassdoor est.)
996    $96K-$156K (Glassdoor est.)
997    $96K-$156K (Glassdoor est.)
998    $96K-$156K (Glassdoor est.)
999    $96K-$156K (Glassdoor est.)
Name: Salary Estimate, Length: 979, dtype: object

In [14]:
salary=df['Salary Estimate'].apply(lambda x:x.split('(')[0])

In [15]:
remove_k=salary.apply(lambda x:x.replace('K','').replace('$',''))

In [16]:
df['min_salary']=remove_k.apply(lambda x: int(x.split('-')[0]))

In [17]:
df['max_salary']=remove_k.apply(lambda x:int(x.split('-')[1]))

In [18]:
df['avg_salary']=(df.min_salary+df.max_salary)/2

### Ratings

In [19]:
df=df[df['Rating']!=-1.0]

### Remove rating from company name

In [21]:
df["Company Name"]=df['Company Name'].apply(lambda x:x.split('\n')[0])

### Add state column

In [22]:
df=df[df['Location']!="United States"] #removing 12 rows with general US location

In [23]:
df['Location']=df['Location'].apply(lambda x: x if x != 'Oregon' else 'Portland, OR')

In [24]:
df['Location']=df['Location'].apply(lambda x: x if x != 'New Jersey' else 'Princeton, NJ')

In [25]:
df['Location']=df['Location'].apply(lambda x: x if x != 'Remote' else 'Remote, Remote')

df['State']= df['Location'].apply(lambda x: x.split(',')[-1])

df=df[df['State']!="United States"]

df.shape

df['State']=df.State.apply(lambda x: x.replace(' ','')) #removing space before State abbreviation

df['State']=df['State'].apply(lambda x: x if x != 'California' else 'CA')

df['State']=df['State'].apply(lambda x: x if x != 'Virginia' else 'VA')

df['State']= df['State'].apply(lambda x: x if x!= 'LA' else 'CA')

df['State'].value_counts()

CA        222
VA         93
MA         91
NY         75
TX         64
IL         42
WA         28
DC         27
MD         23
PA         22
FL         19
WI         18
UT         17
AZ         17
NJ         17
MO         16
CO         16
OH         14
Remote     13
NC         13
TN         12
MI         10
OR         10
HI          9
CT          9
GA          6
IN          5
RI          4
MN          4
NE          3
AL          3
OK          3
SC          2
KS          2
MS          2
NM          2
NH          2
WV          2
KY          1
ID          1
IA          1
Name: State, dtype: int64

### Is Job location and HQ same?

In [27]:
df['jobhq'] = df.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0, axis = 1)

### Age of company

In [28]:
df['age']=df.Founded.apply(lambda x: x if x<1 else 2020-x)

In [29]:
df.age.value_counts() #we have 92 companies with no founding date but we can't remove that many rows

-1      92
 24     36
 8      35
 4      33
 5      33
        ..
 122     1
 127     1
 128     1
 135     1
 330     1
Name: age, Length: 118, dtype: int64

### Add skills columns

In [30]:
#python
df['python_yn']=df["Job Description"].apply(lambda x:1 if 'python' in x.lower() else 0)

#r
df['r_yn']=df["Job Description"].apply(lambda x:1 if 'r studio' in x.lower() or 'r-studio' in x.lower() or ",R" in x or "R," in x or ",R" in x or " R " in x else 0)

#aws
df['aws_yn']=df["Job Description"].apply(lambda x:1 if 'aws' in x.lower() else 0)

#spark
df['spark_yn']=df["Job Description"].apply(lambda x:1 if 'spark' in x.lower() else 0)

#hadoop
df['hadoop_yn']=df["Job Description"].apply(lambda x:1 if 'hadoop' in x.lower() else 0)

#docker
df['docker_yn']=df["Job Description"].apply(lambda x:1 if 'docker' in x.lower() else 0)

#sql
df['sql_yn']=df["Job Description"].apply(lambda x:1 if 'sql' in x.lower() else 0)

#linux
df['linux_yn']=df["Job Description"].apply(lambda x:1 if 'linux' in x.lower() else 0)

#flask
df['flask_yn']=df["Job Description"].apply(lambda x:1 if 'flask' in x.lower() else 0)

#django
df['django_yn']=df["Job Description"].apply(lambda x:1 if 'django' in x.lower() else 0)

#tensorflow
df['tensorflow_yn']=df["Job Description"].apply(lambda x:1 if 'tensorflow' in x.lower() else 0)

#keras
df['keras_yn']=df["Job Description"].apply(lambda x:1 if 'keras' in x.lower() else 0)

#pytorch
df['pytorch_yn']=df["Job Description"].apply(lambda x:1 if 'pytorch' in x.lower() else 0)

#algorithms
df['algo_yn']=df["Job Description"].apply(lambda x:1 if 'algorithms' in x.lower() or 'algorithmic' in x.lower() else 0)

#statistics
df['stats_yn']=df["Job Description"].apply(lambda x:1 if 'statistics' in x.lower() or 'statistical' in x.lower() else 0)

#tableau
df['tableau_yn']=df["Job Description"].apply(lambda x:1 if 'tableau' in x.lower() else 0)

df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'State', 'jobhq', 'age',
       'python_yn', 'r_yn', 'aws_yn', 'spark_yn', 'hadoop_yn', 'docker_yn',
       'sql_yn', 'linux_yn', 'flask_yn', 'django_yn', 'tensorflow_yn',
       'keras_yn', 'pytorch_yn', 'algo_yn', 'stats_yn', 'tableau_yn'],
      dtype='object')

### Type of data science job

In [31]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'research' in title.lower():
        return 'research'
    elif 'software' in title.lower():
        return 'sw'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'

In [32]:
def title_number_simplifier(title):
    if 'data scientist' in title.lower():
        return 3
    elif 'data engineer' in title.lower():
        return 2
    elif 'analyst' in title.lower():
        return 1
    elif 'machine learning' in title.lower():
        return 6
    elif 'research' in title.lower():
        return 8
    elif 'software' in title.lower():
        return 9
    elif 'manager' in title.lower():
        return 5
    elif 'director' in title.lower():
        return 4
    else:
        return 7

In [33]:
df['job_type']=df['Job Title'].apply(title_simplifier)

df['job_type_num']=df['Job Title'].apply(title_number_simplifier)

df['job_type'].value_counts()

data scientist    687
na                 73
data engineer      67
analyst            59
mle                23
research           13
manager             8
director            8
sw                  2
Name: job_type, dtype: int64

### Seniority level

In [34]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'

def seniority_number(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return '1'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return '0'
    else:
        return '2'

df['seniority']=df['Job Title'].apply(seniority)

df['seniority'].value_counts()

df['seniority_num']=df['Job Title'].apply(seniority_number)

df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'State', 'jobhq', 'age',
       'python_yn', 'r_yn', 'aws_yn', 'spark_yn', 'hadoop_yn', 'docker_yn',
       'sql_yn', 'linux_yn', 'flask_yn', 'django_yn', 'tensorflow_yn',
       'keras_yn', 'pytorch_yn', 'algo_yn', 'stats_yn', 'tableau_yn',
       'job_type', 'job_type_num', 'seniority', 'seniority_num'],
      dtype='object')

### Job description length

In [35]:
df['len_desc']=df['Job Description'].apply(lambda x:len(x))

In [36]:
df['len_desc']

0      3962
1      5358
2      3183
3      4218
4      1833
       ...
995    2106
996    2902
997    3527
998    3674
999    6200
Name: len_desc, Length: 940, dtype: int64

### Number of competitors

In [37]:
df['num_comp']=df['Competitors'].apply(lambda x:len(x.split(',')) if x!='-1' else 0)

df['num_comp'].value_counts()

0    628
3    211
2     83
1     18
Name: num_comp, dtype: int64

## Exporting cleaned data

In [38]:
df.to_csv('glassdoor_jobs_cleaned.csv',index=False)